div {
    height: 200px;
    width: 100%;
    }
    .home {
        height: 100px;
        width: 100%;
    
    }
    
    div nav.navii{
        height: 90px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        
        
    }
    h1{
        margin-left: 130px;
       
        color: rgb(2, 110, 2);
        font-size: 45px;
        text-decoration: none;
        text-shadow: 3px 3px 5px rgb(1, 184, 190);
    }
    
    div .tit h1
    {
        margin-top: -87px;
    }
    
    
    body{
        background-color: rgba(255, 255, 255, 0.993);
    }
    div nav a{
      
      display: inline-block;
      padding: 20px; 
      font-size: 20px;
      color: rgb(0, 0, 0);
      text-decoration: none;
      margin-top: 15px;
     
    }
    b{
        margin-left: 280px;
       
        
    }
    
    
    
    
    b img  {
        
        height: 75px;
        width: 75px;
        float: left;
        margin-top: 7px;
    
        
    }
    .logo img{
        width: 40px;
        height: 40px;
        float: right;
        margin-right: 100px;
        margin-top: -59px;
    }
    .butt {
        float: right;
        margin-right: 150px;
        margin-top: -50px;
        color: rgb(9, 190, 145);
        font-size:large;
    }
    div .list a
  {
  
  color: #000000;
  display: block;
  margin-top: 10px;
  padding: 10px;
  margin-right: 20px;
  
  
  
  }
  nav a:hover:not(.active)
{
   
    color: rgb(2, 110, 2);
    text-shadow: 0 0   7px rgb(1, 184, 190);
    }
    .active{
       color: rgb(2, 110, 2);
       text-shadow: 0 0 5px rgb(1, 184, 190);
    
    }
  .list
  {
     
    position:absolute;
    background-color: #ffffff;
    margin-top: -10px;
    margin-left: 970px;
    margin-right: 250px;
    display:none;
    box-shadow: 2px 2px 1px 1px;
    height: 180px;
    width: 140px;
   
   
  }
  .drop:hover .list
{
    display: block;
    
}
.drop a {
    float: right;
    margin-right: 260px;
    margin-top: -59px;
    font-size: 18px
}    
.tito
{
    width: 500px;
    height: 170px;
    background-color: rgba(0, 0, 0, 0.767);
    margin-top: -50px;
    margin-left: 50px;
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
}
h6
{
    color: #ffffff;
    margin-top: 15px;
    text-align: start;
    margin-left: 40px;
}
   .rio
{
   
    text-decoration: none;
    
    margin-top: -60px;
    font-size: 25px;
    margin-left: -540px;
    margin-bottom: 50px;
}
 .rio :hover
{
    color: rgb(52, 255, 1);
}
button
{
    height: 30px;
    width: 100px;
    background-color: black;
    color: #ffffff;
}
.moost
{
    font-size: 50px;
    color: #000000d5;
    margin-top: -80px;
    margin-left: 50px;
    font-weight: 400px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.moob
{
    color: rgba(0, 0, 0, 0.658);
    margin-top: 188px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    margin-left: -600px;
}
.ex
{
    
    font-size: 50px;
    color: #000000fd;
    margin-top: -80px;
    margin-left: 50px;
    font-weight: 400px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
.evry
{
    color: rgba(0, 0, 0, 0.89);
    margin-top: 188px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    margin-left: -800px;
}

div .immaa-1
{
  width: 100%;
  height: 550px;
  background-color: rgba(158, 158, 158, 0.178);
  margin-top: 330px;
 
  
}
div .imaa-1 img
{
height: 500px;
width: 600px ;
margin-left: 650px;
margin-top: -350px;

}
h2{
width: 50%;
margin-left: -50px;
color: rgb(0, 0, 0);
margin-top: 30PX;
font-size: 50px;
font-family: 'Times New Roman', Times, serif;
}    
.numm
{
margin-left: 60px;
color: black;
margin-top: 150px;
}
.booba
{
color: black;
text-shadow: none;
font-size: 25px;
margin-left: 50px;
margin-top: -50px;
font-family: 'Times New Roman', Times, serif;

}
.alex
{
    height: 300px;
    width: 300px;
    margin-left: 530px;
    margin-top: 100px;
}
.bp
{
    height: 300px;
    width: 300px;
    margin-left: 730px;
    
}
.alen
{
    height: 300px;
    width: 300px;
    margin-left: 530px;
   
}
.gelln
{
    height: 300px;
    width: 300px;
    margin-left: 330px;  
    margin-top: -500px;
}
.foot
{
    height: 200px;
    width: 100%;
    background-color: #ffffff;
    margin-top: 30px;
    text-align: center;
    
}
.field
{
height: auto;
width: 95%;
background-color: #d6ffff;
margin-left: 20px;
margin-top: 50px;
text-align: center;
border-top: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;

}
.tare
{
    color: #000000;
    text-shadow: none;
    margin-top: 40px;
    font-size: 20px;
    margin-left: -40px;
}
.applyy
{
    margin-top: -400px;
    margin-right: 200px;
    height: 40px;
    width: 100px;
    background-color: #d7f2f5;
    color: #000000;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    box-shadow: 0 0 50px rgb(0, 255, 136);
    border-radius: 0%;
}
.rombo a
{
    text-decoration:none ;
    text-align: center;
    margin-top: 300px;

    
}
div .rombo
{
    height: 10px;
    width: 100%;
}
.field1
{
height: 250px;
width: 102%;
background-color: #000000;
margin-left: -10px;
margin-top: 50px;
text-align: center;
border-top: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    text-decoration: none;

}
.tare1
{
    color: #ffffff;
    text-shadow: none;
    margin-top: 40px;
    font-size: 20px;
    margin-left: -40px;
    
}
.applyy1
{
    margin-top: -400px;
    
    margin-left: -300px;
    height: 40px;
    width: 100px;
    background-color: #d7f2f5;
    color: #ffffff;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    box-shadow: 0 0 50px rgb(0, 255, 136);
    border-radius: 0%;
}
.appu
{
color: rgb(255, 255, 255);
    text-decoration: none;
     
}
h4
{
    font-family:serif;
    font-size: 20px;
    margin-bottom: 30px;
    color: #ffffff;
}
input
{
    width: 250px;
    height: 26px;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    box-shadow: 0px 0px 4px rgb(255, 255, 255);
    margin-left: 20px;
    margin-top: -10px;
}
.subs
{
    margin-left: -10px;
}
.field2
{
    height: 210px;
    width: 102%;
    background-color: #000000;
    margin-left: -10px;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    margin-top: 30px;
    
    
}
div fieldset a
{
   padding-left: 50px;
   color: #fffbfb;
   font-size: 20px;
   
}
div fieldset h5{
   margin-left: -70px;
   font-size: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h6{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    margin-left: 600px;
}
.social
{
    height: 100px;
    width: 150px;
    margin-top: -40px;
    margin-left: -30px;
}
/* .move1
{
   
    color: aqua;
    
    } */
    fieldset a:hover:not(.move3)
    {
        color: rgb(0, 255, 98);
    }
    